@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Portal</h1>
<h3>Please select from the following options:</h3>
<p>
    <a asp-action="Details">Your Details</a>
</p>
<p>
    <a asp-action="Edit">Edit Your Information</a>
</p>
<p>
    <a asp-action="SetPickupDay">Change Your Scheduled Pickup Day</a>
</p>
<p>
    <a asp-action="TemporaryStartOrStopService">Temporarily Start/Stop Service</a>
</p>
<p>
    <a asp-action="ExtraOneTimePickup">Schedule Extra Pickup</a>
</p>

