@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "TemporaryStartOrStopService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Portal</h1>

<h4>When would you like to suspend your service?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TemporaryStartOrStopService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="StreetAddress" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="State" />
            <input type="hidden" asp-for="ZipCode" />
            <input type="hidden" asp-for="PickupDayChoice" />
            <input type="hidden" asp-for="Balance" />
            <input type="hidden" asp-for="PickedUp" />
            <input type="hidden" asp-for="IdentityUserId" />
            <div class="form-group">
                <label asp-for="SuspendPickupStart" class="control-label"></label>
                <input asp-for="SuspendPickupStart" class="form-control" />
                <span asp-validation-for="SuspendPickupStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspendPickupEnd" class="control-label"></label>
                <input asp-for="SuspendPickupEnd" class="form-control" />
                <span asp-validation-for="SuspendPickupEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to main menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
