@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "TemporaryStartOrStopService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Temporary Termination of Service</h1>

<h4>Customer Portal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TemporaryStartOrStopService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SuspendPickupStart" class="control-label"></label>
                <input asp-for="SuspendPickupStart" class="form-control" />
                <span asp-validation-for="SuspendPickupStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspendPickupEnd" class="control-label"></label>
                <input asp-for="SuspendPickupEnd" class="form-control" />
                <span asp-validation-for="SuspendPickupEnd" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
