@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Future of Garbage Collection</h1>
    <h3>If you are an existing customer, please click 'login'</h3>
    <h3>If you are new to Grimaldi & Sons, please click 'Register'</h3>
    <p></a>.</p>
</div>
